[Unit]
Description=Hippo2D - Collector Service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/share/hippo2d/run.py -f /etc/hippo2d/hippo2d.conf

[Install]
WantedBy=multi-user.target
